<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="wrapper">
      <mat-card>
        <mat-card-title>
          Reset your password
        </mat-card-title>
        <div class="spacer"></div>
        <mat-card-content>
          <mat-form-field>
            <mat-label>Username/Email</mat-label>
            <input matInput formControlName="email" id="email" type="text" class="form-control">
            <mat-error *ngIf="f['email'].errors && f['email'].errors['required']">Please enter an email.</mat-error>
            <mat-error *ngIf="f['email'].errors && f['email'].errors['email']">Please enter a valid email.</mat-error>
          </mat-form-field>
          <button mat-flat-button [disabled]="form.invalid" color="primary" style="margin-top:16px;">Reset Password</button>
          <p class="msg-section" *ngIf="apiResponse"  [ngClass]="{ 
            'error': apiResponse['isError'], 
            'success': !apiResponse['isError']
           }">
              {{ apiResponse.msg }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  
  </form>
  