<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="wrapper">
      <mat-card>
        <mat-card-title>
          Update your password
        </mat-card-title>
        <div class="spacer"></div>
        <mat-card-content>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" id="password" type="text" class="form-control">
            <mat-error *ngIf="f['password'].errors && f['password'].errors['required']">Please enter a password.</mat-error>
            <mat-error *ngIf="f['password'].errors && f['password'].errors['minlength']">Password requires {{ f['password'].errors['minlength']['requiredLength'] }} characters.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="cPassword" id="cPassword" type="text" class="form-control">
            <mat-error *ngIf="f['cPassword'].errors && f['cPassword'].errors['required']">Confirm password is required.</mat-error>
          </mat-form-field>
          <mat-error *ngIf="!f['password'].pristine && !f['cPassword'].pristine && f['password'].value!==f['cPassword'].value">Password is mismatch!</mat-error>
          <button mat-flat-button [disabled]="form.invalid || f['password'].value!==f['cPassword'].value" color="primary" style="margin-top:16px;">Update Password</button>
          <p class="msg-section" *ngIf="apiResponse" [ngClass]="{ 
              'error': apiResponse['isError'], 
              'success': !apiResponse['isError']
           }">
            {{ apiResponse.msg }}
            {{ !apiResponse['isError'] ? 'Please wait. Redirecting in seconds...' : '' }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  
  </form>
  