<!-- <mat-toolbar color = "primary">
  <div fxLayout="row" fxLayoutAlign="center center" style="width:25;">
    <a class="navbar-brand" [routerLink]="'/login'" routerLinkActive="active" style="color:white;"> Login </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="navbar-brand" [routerLink]="'/reset'" routerLinkActive="active" style="color:white;"> Reset</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="navbar-brand" [routerLink]="'/dashboard'" routerLinkActive="active" style="color:white;"> Dashboard </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="navbar-brand" [routerLink]="'/jobs'" routerLinkActive="active" style="color:white;"> Jobs</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </div>
</mat-toolbar> -->

<router-outlet></router-outlet>



